
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Important Message</h1>
<p>This page is <em>extremly</em> unimportant to the function if this application. It was placed here <b>only</b> to demonstrate that a view can be called from a controller</p>
<p>Thank you for your understanding</p>