
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Hello <b>@ViewBag.Name</b></h2>
<p>Don't tell anybody, the secret number is @ViewBag.Secret</p>